.nav{
    width: 1.5em;
    height: 1.5em;
    &:hover {
        transform: scale(1.4);
        transition: all;
        transition-duration: 150ms;
        cursor: pointer;
    }
}

.menu{
    width: 1.5em;
    height: 1.5em;
}

.post-icons{
    height: 100%;
    stroke: gray;
}

.bookmark-icon{
    stroke: gray;
}